body {
  text-align: center;
  align-items: center;
}

.App {
  text-align: center;
  height: 100vh;
}

.paragraph {
  font-size: larger;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph-title{
  font-family: easy;
}

.custom-select {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.custom-select:hover {
  background-color: #e0e0e0;
}

.custom-select:focus {
  outline: none;
  border-color: #f3e4e3;
  background-color: #fff;
}

.custom-select option {
  padding: 10px;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'easy';
  src: url('/src/fonts/INPUT.OTF') format('truetype');
}